*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Gilroy-Medium', sans-serif;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1666866011776-336d8f48616f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
}
.main > h1{
    font-size: 4.6vmax;
    color: tomato;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.5vmax;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.4vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    /* background-color: rgb(246, 246, 181); */
    background-color: pink;
    border-radius: 1vmax;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.473);
    border: none;
    font-size: 6vmax;
    color: red;
}
.reset-btn{
    padding: 0.8vmax 1.3vmax;
    font-size: 1.4vmax;
    background-color: black;
    color: white;
    border-radius: 0.6vmax;
    border: none;
}
.new-btn{
    padding: 0.9vmax 1.8vmax;
    font-size: 1.4vmax;
    background-color: black;
    color: white;
    border-radius: 0.6vmax;
    border: none;
}

#msg{
    font-size: 3.5vmax;
}
.msg-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vmax;
}
.hide{
    display: none;
}